@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #190A00;
  color: #FFEEE4;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #190A00;
}

::-webkit-scrollbar-thumb {
  background: #4C1D00;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FD5F00;
}